h1{
    color: aliceblue;
    text-align: center;
}

h3{
    color: aliceblue;
    text-align: justify;
    padding: 1em 1em;
}

p{
    color: aliceblue;
    text-align: justify;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    background-color: rgb(126, 0, 0);
    gap:20px;
    padding: 1em;
}

.a{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: red;
}

.b{
    grid-column-start: span 1;
    background-color: rgb(255, 120, 120);
    margin: auto 0;
    padding: 0 150px;
}

.c{
    grid-row-start: 2;
    grid-column-start: span 1;
    background-color: rgb(255, 120, 120);
    text-align: center;
}


.d{
    grid-row-start: 3;
    grid-column-start: span 3;
    background-color: red;
    margin: auto auto;
    max-height: fit-content;
}

.e{
    grid-row-start: 3;
    background-color: rgb(255, 120, 120);
}

.e-title{
    display: grid;
    justify-content: center;
}

.f{
    grid-row-start: 4;
    grid-column-start: span 4;
    background-color: rgb(128, 128, 128);
}

.dminor{
    grid-row-start: 5;
    background-color: rgb(255, 120, 120);
    padding: 0 150px;
}

.link-container{
    margin: 5px;
}

.link-container-bottom{
    margin: 5px;
}

.link-container:hover{
    background-color: red;
}

.link-container:hover a{
    color: aliceblue;
}

.link-container a{
    color: brown;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.link-container-bottom a{
    color: brown;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.link-container-bottom:hover{
    background-color: rgb(0, 0, 0);
}

.link-container-bottom:hover a::after{
    color:aliceblue;
    content: " Go to Lorem Ipsum heading";
    font-style: italic;
    font-weight: bold;
}

img{
    width: 150px;
    height: 100px;
}

img:hover{
    transform: scale(1.1);
    border-radius: 15%;
}